Repository otus-kuber-2021-09/antik9_platform, pull requests merged in 2021-11, with the labels that each got.

#8 Add manifests for kubernets-operators
  .gitignore
  kubernetes-operators/README.md
  kubernetes-operators/build/Dockerfile
  kubernetes-operators/build/mysql-operator.py
  kubernetes-operators/build/templates/backup-job.yml.j2
  kubernetes-operators/build/templates/backup-pv.yml.j2
  kubernetes-operators/build/templates/backup-pvc.yml.j2
  kubernetes-operators/build/templates/mysql-deployment.yml.j2
  kubernetes-operators/build/templates/mysql-pv.yml.j2
  kubernetes-operators/build/templates/mysql-pvc.yml.j2
  kubernetes-operators/build/templates/mysql-service.yml.j2
  kubernetes-operators/build/templates/restore-job.yml.j2
  kubernetes-operators/deploy/cr.yml
  kubernetes-operators/deploy/crd.yml
  kubernetes-operators/deploy/deploy-operator.yml
  kubernetes-operators/deploy/role-binding.yml
  kubernetes-operators/deploy/role.yml
  kubernetes-operators/deploy/service-account.yml
Labels: kubernetes-operators

#9 Add manifests for kubernets-monitoring
  .gitignore
  kubernetes-monitoring/README.md
  kubernetes-monitoring/assets/grafana-requests.png
  kubernetes-monitoring/nginx-configmap.yaml
  kubernetes-monitoring/nginx-deployment.yaml
  kubernetes-monitoring/nginx-service.yaml
  kubernetes-monitoring/nginx-servicemonitor.yaml
Labels: kubernetes-monitoring, Review Required

#10 Add manifests for kubernets-logging
  .gitignore
  kubernetes-logging/README.md
  kubernetes-logging/elasticsearch.values.yaml
  kubernetes-logging/export.ndjson
  kubernetes-logging/fluent-bit.values.yaml
  kubernetes-logging/kibana.values.yaml
  kubernetes-logging/loki.yaml
  kubernetes-logging/nginx-ingress.json
  kubernetes-logging/nginx-ingress.values.yaml
  kubernetes-logging/prometheus-operator.values.yaml
Labels: kubernetes-logging, Review Required
